<!--<p>Witaj {{{ email }}} w MegaK Head Hunter</p>-->

<!--<p>Wyłałeś prośbę o reset hasła. Podaj poniższy kod przy ustawianiu nowego hasła:</p>-->

<!--<p><strong>{{{resetPasswordToken}}}</strong></p>-->


<body
  style="font-family: Arial, sans-serif; background: #202323;display:flex; flex-direction:column; align-items:center; ">

<div style="padding:40px">


  <img src="https://github.com/Fremen1990/head-hunter-backend/blob/develop/assets/readme_logo.png?raw=true"
       alt="logo" style="width:400px" }>

  <h1 style="color:white">Witaj <strong> {{{ email }}} </strong> w MegaK Head Hunter</h1>

  <h2 style="color:white">Wyłałeś prośbę o reset hasła. Podaj poniższy kod przy ustawianiu nowego hasła:</h2>

<h2 style="color:white">{{{resetPasswordToken}}}</h2>

</div>


</body>
