<p>Witaj {{{ email }}} w MegaK Head Hunter</p>

<p>Zapisz swoje haslo {{{pass}}} i uzyj go do rejestracji kontaw ponizszym linku</p>

<a href="{{registrationLink}}" target="_blank" >{{registrationLink}}</a>


